<div class="container-fluid">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="car"></div>
    <div class="card mb-8">
      <div class="card-header"><strong>Tables</strong><span class="small ms-1">New Users</span></div>
      <div class="card-body">
        <p class="text-medium-emphasis small">Using the most basic table markup, here’s how <code>.table</code>-based tables look in Bootstrap.</p>
        <div class="example">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1000" role="tab" aria-selected="true">
                <svg class="icon me-2">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                </svg>Preview</a></li>
          </ul>
          <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1000">
              <div class="row">
                  <div class="col-lg-12">
                    <%= form_for @user do |f| %>
                      <div class="form-group">
                        <%= f.label :email %>
                        <%= f.text_field :email, class: 'form-control', placeholder: 'Nhập email'%>
                      </div>
                      <div class="form-group">
                        <%= f.label :role %>
                        <%= f.select :role, options_for_select([['0', 0], ['1', 1], ['9', 9]], selected: f.object.role), {}, class: 'form-control' %>
                      </div>
                      <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: 'form-control', placeholder: 'Nhập mật khẩu'%>
                      </div>
                      <div class="form-group">
                        <%= f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Nhập xác nhận mật khẩu'%>
                      </div>
                      <br>
                      <div class="d-flex justify-content-between">
                        <%= f.submit 'Create User', class: 'btn btn-primary btn-lg' %>
                        <%= link_to 'Back', users_path, class:'btn btn-success btn-lg' %>
                      </div>
                    <% end %>
                  </div>
                  <!-- /.col-lg-6 (nested) -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
