<table class="table">
  <thead></thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">
        <%= link_to "New Category", new_category_path, class: "btn btn-success" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td scope="row"><%= category.id %></td>
        <td><%= category.name %></td>
        <td>
          <%= link_to "Show", category_path(category), class: "btn btn-info" %>
          <%= link_to "Edit", edit_category_path(category), class: "btn btn-warning" %>
          <%= link_to "Delete", category, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
