<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="car"></div>
    <div class="card mb-8">
      <div class="card-header"><strong>Tables</strong><span class="small ms-1">Categories</span></div>
      <div class="card-body">
        <div class="example">
          <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1000">
              <table class="table">
                <thead></thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">
                      <%= link_to "New Category", new_category_path, class: 'btn btn-success' %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <% @categories.each do |category| %>
                      <tr>
                        <td scope="row"><%= category.id %></td>
                        <td><%= category.name %></td>
                        <td>
                          <%= link_to "Show", category_path(category), class: 'btn btn-info' %>
                          <%= link_to "Edit", edit_category_path(category), class: 'btn btn-warning' %>
                          <%= link_to "Delete", category, class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
                        </td>
                      </tr>
                    <% end %>
                </tbody>
              </table>
              <div class="text-center">
                <%= paginate @categories, theme: 'bootstrap-5' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
