<div class="container-fluid">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= flash[:alert] %></p>
</div>
<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="car"></div>
    <div class="card mb-8">
      <div class="card-header"><strong>Tables</strong><span class="small ms-1">New Categories</span></div>
      <div class="card-body">
        <div class="example">
          <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1000">
              <div class="row">
                  <div class="col-lg-12">
                      <%= form_for @category do |f| %>
                        <div>
                          <%= f.label :name %>
                          <%= f.text_field :name, class: 'form-control', placeholder: 'Import category'%>
                        </div>
                        <br>
                        <div class="d-flex justify-content-between">
                          <%= f.submit 'ADD', class: 'btn btn-primary btn-lg' %>
                          <%= link_to "Back", categories_path, class: 'btn btn-success btn-lg' %>
                        </div>
                      <% end %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
