<div class="body flex-grow-1 px-3">
  <div class="container-lg">
    <div class="car"></div>
    <div class="card mb-8">
      <div class="card-header"><strong>Tables</strong><span class="small ms-1">Edit Products</span></div>
      <div class="card-body">
        <p class="text-medium-emphasis small">Using the most basic table markup, here’s how <code>.table</code>-based tables look in Bootstrap.</p>
        <div class="example">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link active" data-coreui-toggle="tab" href="#preview-1000" role="tab" aria-selected="true">
                <svg class="icon me-2">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-media-play"></use>
                </svg>Preview</a></li>
          </ul>
          <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1000">
              <%= form_for @product do |f| %>
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control', placeholder: 'Nhập name'%>
                </div>
                <div class="form-group">
                  <%= f.label :description %>
                  <%= f.text_field :description, class: 'form-control', placeholder: 'Nhập description' %>
                </div>
                <div class="form-group">
                  <%= f.label :price %>
                  <%= f.text_field :price, class: 'form-control', placeholder: 'Nhập price' %>
                </div>
                <div class="form-group">
                  <%= f.label :category_id, 'Categories:' %>
                  <%= f.select :category_id, Category.all.map { |c| [c.name, c.id] }, { include_blank: true }, class: 'form-control' %>
                </div>
                <div class="d-flex justify-content-between">
                  <%= f.submit 'Update', class: 'btn btn-primary btn-lg' %>
                  <%= link_to 'Back', products_path, class:'btn btn-success btn-lg' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
