<!DOCTYPE html>
<html>
  <head>
    <title>Webadmin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "turbo", type: "module" %>
  </head>

  <body>
    <%= render template: 'index/menu' %>
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <%= render template: 'index/header' %>
      <div class="container-fluid">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
